.ticket-submit,.accept_btn{
  max-width: 260px;
  padding: 10px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #09c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
}
.btn{
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.accept_btn{
  margin: 2rem 0;
  border-style: none;
  transition: all .5s ease-in-out;
}

.accept_btn:hover{
  background-color: #008b0e;
  color: #ffffff;
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}