.ticket-block {
  display: block;
  //border-bottom: 1px solid grey;
  opacity: .8;
  margin: 15px;
}

.ticket-info {
  margin: 10px 0 20px;
}

.info{
  color: #09c;
  opacity: .7;
  font-size: 1.25em;
  margin: 10px 0 20px;
}

.user_item{
  opacity: .8;
  margin: 15px;
}