$font-stack:    Times New Roman, Arial, sans-serif;
$primary-color: #333;
$modal-background: rgb(255, 255, 255);
$modal-order-background: rgb(136, 234, 192);
$modal-text-color: rgba(41, 45, 44, 0.8);
$modal-border: 2px solid grey;
$header-height: 60px;
$header-background: #e39f67;
$footer-height: 60px;
$footer-background: #0a0500;